<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success - Login and Registration Flask-MySQL App</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login_and_registration.css') }}">
</head>
<body>
    <div class="main-success-page">
        <h2>Welcome, {{ first_name }}!</h2>
        <p>Wow, you've made it! You've logged in to your account!
            <br><br>
            Congratulations, you have just enough IQ to enter an email address and a password correctly!
        </p>
        <a href="{{ url_for('logout') }}" class="btn btn-secondary" id="logout">Logout</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/js/bootstrap.min.js"></script>
</body>
</html>