<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Semi-Restful TV Shows - Django App</title>
</head>
<body>
    <div class="add-a-show">
        <form action="/shows/edit_show" method="post">
            {% csrf_token %}
            <div class="header-text-shows">
                <h1 class="header-text-item">Edit Show {{ show.id }}</h1>
                <h4 class="header-text-item go-back"><a href="{% url 'display_all_shows' %}">Go Back</a></h4>
            </div>
            <table id="add-show-table">
                <tbody>
                    <tr>
                        <td><label>Title</label></td>
                        <td><input type="text" class="form-control custom-input" name="title" value="{{ show.title }}"></td>
                    </tr>
                    <tr>
                        <td><label>Network</label></td>
                        <td><input type="text" class="form-control custom-input" name="network" value="{{ show.network }}"></td>
                    </tr>
                    <tr>
                        <td><label>Release Date</label></td>
                        <td><input type="date" class="form-control custom-input" name="release_date" value="{{ show.release_date|date:'Y-m-d' }}"></td>
                    </tr>
                    <tr>
                        <td><label>Description</label></td>
                        <td><textarea class="form-control custom-input" name="description" id="description" rows="5" cols="50">{{ show.description }}</textarea></td>
                    </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary authors-books-add-btn">Update</button>
            <h4 id="go-to-show"><a href="{% url 'view_show' show.id %}">Go To Show</a></h4>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/js/bootstrap.min.js"></script>
</body>
</html>