<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey Flask App</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dojo_survey.css') }}">
</head>
<body>
    <form action="/result" method="post" id="main-form">
        <div class="mb-3">
          <label for="inputName" class="form-label" id="name-label">Your Name: </label>
          <input type="text" class="form-control" id="inputName" name="name">
        </div>
        <div class="mb-3 spacing">
          <label for="inputDojoLocation" class="form-label">Dojo Location:</label>
          <select class="form-select selection" name="location">
            <option value="Ramallah" selected>Ramallah</option>
            <option value="Nablus">Nablus</option>
            <option value="Jerusalem">Jerusalem</option>
          </select>
        </div>
        <div class="mb-3 spacing">
            <label for="inputFavoriteLanguage" class="form-label">Favorite Language:</label>
            <select class="form-select selection" name="favoriteLanguage">
                <option value="Python" selected>Python</option>
                <option value="JavaScript">JavaScript</option>
                <option value="HTML">HTML</option>
                <option value="CSS">CSS</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Gender:</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="maleRadio" value="Male" checked>
                <label class="form-check-label" for="maleRadio">Male</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" id="femaleRadio" value="Female">
                <label class="form-check-label" for="femaleRadio">Female</label>
            </div>
        </div>
        <div class="mb-3">
            <label for="comment" class="form-label">Comment (optional):</label>
            <textarea class="form-control" id="comment" rows="5" name="comment"></textarea>
          </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="likesMansaf" name="likesMansaf">
          <label class="form-check-label" for="likesMansaf" id="checkbox-label">Do you like Mansaf?</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/js/bootstrap.min.js"></script>
</body>
</html>